body {
  margin: 0;
  background: black;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#text {
  font-size: 2rem;
  white-space: pre;
}

#author {
  margin-top: 1rem;
  font-size: 1rem;
  opacity: 0.8;
  white-space: pre;
}

.red {
  color: red;
}


.glitch {
  position: relative;
  display: inline-block;
  animation: glitch 1.5s infinite;
}

.glitch::before,
.glitch::after {
  content: attr(data-text);
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.8;
}

.glitch::before {
  color: red;
  animation: glitchTop 1s infinite;
}

.glitch::after {
  color: cyan;
  animation: glitchBottom 1.2s infinite;
}

@keyframes glitch {
  0% { transform: none; }
  20% { transform: skew(-2deg); }
  40% { transform: skew(2deg); }
  60% { transform: skew(-1deg); }
  100% { transform: none; }
}

@keyframes glitchTop {
  0% { transform: translate(0); }
  20% { transform: translate(-2px, -2px); }
  40% { transform: translate(2px, -1px); }
  60% { transform: translate(-1px, 1px); }
  100% { transform: translate(0); }
}

@keyframes glitchBottom {
  0% { transform: translate(0); }
  20% { transform: translate(2px, 1px); }
  40% { transform: translate(-2px, 2px); }
  60% { transform: translate(1px, -1px); }
  100% { transform: translate(0); }
}
