body {
  margin: 0;
  background: black;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#text {
  font-size: 2rem;
  white-space: pre;
}

#author {
  margin-top: 1rem;
  font-size: 1rem;
  opacity: 0.8;
  white-space: pre;
}

.red {
  color: red;
}
