body {
  margin: 0;
  background: black;
  color: white;

  display: flex;
  flex-direction: column;

  min-height: 100vh;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

#text {
  font-size: 2rem;
  white-space: pre;
}

#author {
  margin-top: 1rem;
  font-size: 1rem;
  opacity: 0.8;
  white-space: pre;
}

.red {
  color: red;
}

.glitch {
  position: relative;
  display: inline-block;
}

.gif-container {
  width: 100%;
  max-width: 430px;
  aspect-ratio: 9 / 16;
  position: relative;
  margin: 40px auto;
}

.gif-container iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 0;
}

.credit {
  font-size: 12px;
  opacity: 0.6;
  margin-bottom: 40px;
}