
body {
  height: auto;
  min-height: 100vh;
  flex-direction: column;
}


.gif-container {
  width: 100%;
  max-width: 430px; /* Handybreite */
  margin: 40px auto;
  aspect-ratio: 9 / 16; /* Handy Format */
  position: relative;
}

.gif-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}


.credit {
  font-size: 12px;
  opacity: 0.6;
  margin-bottom: 30px;
}